<%= form_for(@additional) do |f| %>
  <% if @additional.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@additional.errors.count, "error") %> prohibited this additional from being saved:</h2>

      <ul>
      <% @additional.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
