<p id="notice"><%= notice %></p>

<h1>Listing Property Images</h1>

<table>
  <thead>
    <tr>
      <th>Property</th>
      <th>Image</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @property_images.each do |property_image| %>
      <tr>
        <td><%= property_image.property_id %></td>
        <td><%= property_image.image %></td>
        <td><%= property_image.position %></td>
        <td><%= link_to 'Show', property_image %></td>
        <td><%= link_to 'Edit', edit_property_image_path(property_image) %></td>
        <td><%= link_to 'Destroy', property_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property image', new_property_image_path %>
