<h1>Mis mensajes</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Asunto</th>
      <th>Mensaje</th>
      <th>Email</th>
      <th>Teléfono</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr <%
              if contact.is_read != 0 %>
                 class="info"
           <% end
          %>
        >
        <td><%= contact.subject %></td>
        <td><%= contact.body %></td>
        <td><%= contact.email %></td>
        <td><%= contact.phone %></td>
        <td><%= link_to 'Eliminar', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>