
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Ingresa tu e-mail' %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Ingresa tu nombre' %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(Mínimo <%= @minimum_password_length %> caracteres)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Ingresa una contraseña segura' %>
  </div>
  

  <input type="hidden" name="user[membership_id]" id="user_membership_id" value="1">
  <input type="hidden" name="name_inmo" id="name_inmo">
  <input type="hidden" name="rfc_inmo" id="rfc_inmo">
  <input type="hidden" name="phone_inmo" id="phone_inmo">
  <input type="hidden" name="phone1_inmo" id="phone1_inmo">
  <br>
  <div class="actions">
    <%= f.submit "Crear cuenta", class: 'btn btn-primary' %>
  </div>
<% end %>

